@import 'tailwindcss';

@layer base {
  :root {
    --color-green-100: #e1f4f2;
    --color-green-300: #a4d6cf;
    --color-green-500: #23786d;
    --color-green-600: #177165;
    --color-green-900: #0a312c;
  }
}

.container-wide {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}

.achievements-item {
  position: relative;
}

.achievements-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #177165;
  height: 8px;
  width: 4px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  all: unset;
  display: flex !important;
  opacity: 1 !important;
  visibility: visible !important;
  position: static !important;
  cursor: pointer;
}

.swiper-button-prev::after,
.swiper-button-next:after {
  display: none;
}

@media (max-width: 768px) {
  .achievements-item::before {
    display: none;
  }
}

@layer utilities {
  .font-roboto {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
  }

  .font-playfair {
    font-family: 'Playfair Display', serif;
    font-optical-sizing: auto;
  }

  .rotate-x-90 {
    transform: rotateX(90deg);
  }
  .rotate-x-0 {
    transform: rotateX(0deg);
  }
  .opacity-0 {
    opacity: 0;
  }
  .opacity-100 {
    opacity: 1;
  }

  .rotate-y-90 {
    transform: rotateY(90deg);
  }

  .team-image {
    will-change: transform, opacity;
    backface-visibility: hidden;
  }
}
